body, .swagger-ui {
    background-color: #121212 !important;
    color: #e0e0e0 !important;
}

.topbar {
    background-color: #181818 !important;
}

input, select, textarea {
    background-color: #1e1e1e !important;
    color: #ffffff !important;
    border-color: #333 !important;
}

a, .opblock-summary-method {
    color: #9cdcfe !important;
}

.opblock {
    background-color: #1e1e1e !important;
}
